<!-- Begin code @ _includes/footer.html -->
<!-- <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  max-width: 1000px;
  font-size: 18px;
  font-weight:300;
  color: #666;
  text-align: center;
  margin:0 auto
  margin:0 0 20px
}
</style>
-->
   <!--  <div class="footer"> -->
    <div class="container">
    <footer>
      <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
        <h2>{{ site.author}} {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %} © {{ currentyear }}</h2>
      </a>
   </footer>
   </div>
    <!-- End code @ _includes/footer.html -->
