<!-- Begin code @ _includes/footer.html -->

<!-- https://www.w3schools.com/css/css_howto.asp -->

<style>
.green {
    color:#b5e853
}
footer h2 {
  left: 0;
  bottom: 0;
  width: 90%;
  text-align: center;
  font-size: 14px;
  font-weight:300;
  color: #666
}
.social-media-list, .pagination {
    display: table;
    margin:0 auto
}
.social-media-list li, .pagination li {
    list-style: none;
    float: left;
    margin:5px 10px 5px 0
}
.social-media-list li a, .pagination li a {
    display: block;
    padding: 7.5px;
    border:1px solid #b5e853
}
.social-media-list li a:hover, .pagination li a:hover {
    border-color:#cfcfcf
}
.social-media-list li:last-of-type, .pagination li:last-of-type {
    margin-right:0
}
.svg-footicon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align:text-bottom
}
footer.social-media-list {
    list-style: none;
    margin-left:0
}
</style>

<!--
.social-media-list li, .pagination li {
    list-style: none;
    margin:5px 10px 5px 0
}
-->
    <footer> 
    <!-- NEW CODE -->
    <!-- <div class="wrapper"> -->
    <div class="footer">

    <!-- Not needed
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="/minima/feed.xml">
            <svg class="svg-icon orange">
              <use xlink:href="/minima/assets/minima-social-icons.svg#rss"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
        <ul class="contact-list">
          <li class="p-name">GitHub User</li>
          <li><a class="u-email" href="mailto:your-email@domain.com">your-email@domain.com</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <p>Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
</p>
      </div>
    </div>
    Not needed -->

    <div class="social-links">
        <ul class="social-media-list">
        <li><a rel="me" href="https://github.com/jimhall" title="Jim Hall">
        <svg class="svg-footicon green">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg></a></li>
        <li><a rel="me" href="https://twitter.com/jimhall37" title="@jimhall37">
        <svg class="svg-footicon green">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg></a></li></ul>
    </div>
  </div>

  <!-- END NEW CODE -->


  <!-- BEGIN OLD CODE 
      <div class="footer"> 
        <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
          <h2>{{ site.author}} {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %} © {{ currentyear }}</h2>
        </a>
     </div>
     END OLD COLD-->
     </footer>

      <!-- End code @ _includes/footer.html -->
