<header>
  <div class="container">
    <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
  </div>
  <!--
  <div class="container">
    <a href="{{ '/archive' | relative_url }}"><h2>Archive</h2></a>
    <a href="{{ '/about' | relative_url }}"><h2>About</h2></a>
    <a href="{{ '/atom.xml' | relative_url }}"><h2>RSS</h2></a>
  </div>
  -->
  <div class="container">
    <a href="{{ '/archive' | relative_url }}"><h2 style="display:inline;">Archive</h2></a>
    <a href="{{ '/about' | relative_url }}"><h2 style="display:inline;">About</h2></a>
    <a href="{{ '/atom.xml' | relative_url }}"><h2 style="display:inline;">RSS</h2></a>
  </div>
</header>
