<!-- Begin code @ _includes/head.html -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link href="{{ '/atom.xml'| relative_url }}" type="application/atom+xml" rel="alternate" title="ATOM Feed" /> 

<!-- Needs to be migrated to the final site BEGIN -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ '/assets/favicon/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#ffffff">
<!-- tags added based on https://css-tricks.com/essential-meta-tags-social-media/ -->

<meta property="og:image" content="{{ '/assets/favicon/jh-favico.svg' | relative_url }}">
<!-- <meta property="twitter:card" content="{{ '/assets/favicon/jh-favico.svg' | relative_url }}"> -->
<meta property="twitter:card" content="https://jimhall.github.io/TestBlog2/assets/favicon/jh-favico.svg">
<meta name="twitter:image:alt" content="Jim Hall's Blog">
<meta name="twitter:site" content="@jimhall37">
<!-- Needs to be migrated to the final site END -->

{% seo %}

</head>

<!-- End code @ _includes/head.html -->
